{% extends 'body.html' %} 

{% block content %}

<div class="contents">
  <div class="container-fluid">
    <div class="social-dash-wrap">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-main">
            <h4 class="text-capitalize breadcrumb-title">{{ title }}</h4>
            <div class="breadcrumb-action justify-content-center flex-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#"><i class="uil uil-estate"></i>Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    starter
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mb-30">
        <div class="support-ticket-system support-ticket-system--search">
          <div
            class="breadcrumb-main m-0 breadcrumb-main--table justify-content-sm-between"
          >
            <div
              class="d-flex flex-wrap justify-content-center breadcrumb-main__wrapper"
            >
              <div
                class="d-flex align-items-center ticket__title justify-content-center me-md-25 mb-md-0 mb-20"
              >
                <h4 class="text-capitalize fw-500 breadcrumb-title">
                  {{ title }}
                </h4>
              </div>
            </div>
            <div class="action-btn">
              <a href="#" class="btn btn-primary">
                Exportar
                <i class="las la-angle-down"></i>
              </a>
            </div>
          </div>

          <div
            class="support-form datatable-support-form d-flex justify-content-xxl-between justify-content-center align-items-center flex-wrap"
          >
            <div class="support-form__input">
              <div class="d-flex flex-wrap">
                <div class="support-form__input-id">
                  <label>Nombre:</label>

                  <div class="dm-select">
                    <select
                      name="select-search"
                      class="select-search form-control select2-hidden-accessible"
                      data-select2-id="1"
                      tabindex="-1"
                      aria-hidden="true"
                    >
                      <option value="01" data-select2-id="3">Todos</option>
                      <option value="02">Option 2</option>
                      <option value="03">Option 3</option>
                      <option value="04">Option 4</option>
                      <option value="05">Option 5</option>
                    </select>
                  </div>
                </div>
                <div class="support-form__input-status">
                  <label>Estado:</label>

                  <div class="dm-select">
                    <select
                      name="select-search"
                      class="select-search form-control select2-hidden-accessible"
                      data-select2-id="5"
                      tabindex="-1"
                      aria-hidden="true">
                      <option value="01" data-select2-id="7">Todos</option>
                      <option value="02">Option 2</option>
                      <option value="03">Option 3</option>
                      <option value="04">Option 4</option>
                      <option value="05">Option 5</option>
                    </select>
                  </div>
                </div>
                <button class="support-form__input-button">Buscar</button>
              </div>
            </div>
            <div class="support-form__search">
              <div class="support-order-search">
                <form action="/" class="support-order-search__form">
                  <img src="img/svg/search.svg" alt="search" class="svg" />
                  <input
                    class="form-control border-0 box-shadow-none"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                </form>
              </div>
            </div>
          </div>
          <div
            class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1"
          >
            <div class="table-responsive">
              <table class="table mb-0 table-borderless">
                <thead>
                  <tr class="userDatatable-header">
                    <th>
                      <span class="userDatatable-title">Ticket</span>
                    </th>
                    <th>
                      <span class="userDatatable-title">Cliente</span>
                    </th>
                    <th>
                      <span class="userDatatable-title">Country</span>
                    </th>
                    <th>
                      <span class="userDatatable-title">Company</span>
                    </th>
                    <th>
                      <span class="userDatatable-title">Position</span>
                    </th>
                    <th>
                      <span class="userDatatable-title">Join Date</span>
                    </th>
                    <th>
                      <span class="userDatatable-title">Status</span>
                    </th>
                    <th class="actions">
                      <span class="userDatatable-title">Opciones</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in categories %}
                  <tr>
                    <td>{{ c.id }}</td>
                    <td>
                      <div class="d-flex">
                        <div class="userDatatable-inline-title">
                          <a href="#" class="text-dark fw-500">
                            <h6>{{c.name}}</h6>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="userDatatable-content--subject">
                        United Street
                      </div>
                    </td>
                    <td>
                      <div class="userDatatable-content--subject">
                        Business Development
                      </div>
                    </td>
                    <td>
                      <div class="userDatatable-content--priority">
                        Web Developer
                      </div>
                    </td>
                    <td>
                      <div class="userDatatable-content--priority">
                        January 20, 2020
                      </div>
                    </td>
                    <td>
                      <div class="userDatatable-content d-inline-block">
                        <span
                          class="bg-opacity-success color-success userDatatable-content-status active"
                          >active</span
                        >
                      </div>
                    </td>
                    <td>
                      <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                        <li>
                          <a href="#" class="view">
                            <i class="uil-regular uil-file"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="edit">
                            <i class="uil uil-edit"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="remove">
                            <i class="uil uil-trash-alt"></i>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-end pt-30">
              <nav class="dm-page">
                <ul class="dm-pagination d-flex">
                  <li class="dm-pagination__item">
                    <a href="#" class="dm-pagination__link pagination-control"
                      ><span class="la la-angle-left"></span
                    ></a>
                    <a href="#" class="dm-pagination__link"
                      ><span class="page-number">1</span></a
                    >
                    <a href="#" class="dm-pagination__link active"
                      ><span class="page-number">2</span></a
                    >
                    <a href="#" class="dm-pagination__link"
                      ><span class="page-number">3</span></a
                    >
                    <a href="#" class="dm-pagination__link pagination-control"
                      ><span class="page-number">...</span></a
                    >
                    <a href="#" class="dm-pagination__link"
                      ><span class="page-number">8</span></a
                    >
                    <a href="#" class="dm-pagination__link pagination-control"
                      ><span class="la la-angle-right"></span
                    ></a>
                    <a href="#" class="dm-pagination__option"> </a>
                  </li>
                  <li class="dm-pagination__item">
                    <div class="paging-option">
                      <select name="page-number" class="page-selection">
                        <option value="20">20/page</option>
                        <option value="40">40/page</option>
                        <option value="60">60/page</option>
                      </select>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>








      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 mb-30">
            <div class="card mt-30">
              <div class="card-body">
                <div
                  class="userDatatable adv-table-table global-shadow border-light-0 w-100 adv-table">
                  <div class="table-responsive">
                    <div class="adv-table-table__header">
                      <h4>Data Table</h4>
                      <div class="adv-table-table__button">
                        <div class="dropdown">
                          <a
                            class="btn btn-primary dropdown-toggle dm-select"
                            href="#"
                            role="button"
                            id="dropdownMenuLink"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">Export</a>

                          <div
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenuLink"
                          >
                            <a class="dropdown-item" href="#">copy</a>
                            <a class="dropdown-item" href="#">csv</a>
                            <a class="dropdown-item" href="#">print</a>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div id="filter-form-container" class="footable-filtering-external footable-filtering-right">
                     <form class="form-inline">
                         <div class="form-group dm-select d-flex align-items-center adv-table-searchs__status my-xl-25 my-15 mb-0 me-sm-30 me-0">
                             <label class="d-flex align-items-center mb-sm-0 mb-2">Status</label>
                             <select class="form-control ms-sm-10 ms-0">
                                 <option>All</option>
                                 <option>Active</option>
                                 <option>deactivate</option>
                                 <option>Blocked</option>
                             </select>
                         </div>
                         <div class="form-group dm-select d-flex align-items-center adv-table-searchs__position my-xl-25 my-15 me-sm-20 me-0">
                             <label class="d-flex align-items-center mb-sm-0 mb-2">position</label>
                             <select class="form-control ms-sm-10 ms-0">
                                 <option>All</option>
                                 <option>Web Developer</option>
                                 <option>Senior Manager</option>
                                 <option>UX/UI Desogner</option>
                                 <option>Content Writer</option>
                                 <option>Graphic Designer</option>
                                 <option>Marketer</option>
                                 <option>Project Manager</option>
                                 <option>UI Designer</option>
                                 <option>Business Development</option>
                             </select>
                         </div>
                 
                         <div class="form-group footable-filtering-search">
                             <label class="sr-only">Search</label>
                             <div class="input-group">
                                 <input type="text" class="form-control" placeholder="Search">
                                 <div class="input-group-btn">
                                     <button type="button" class="btn btn-primary">
                                         <span class="fooicon fooicon-search"></span>
                                     </button>
                                     <button type="button" class="btn btn-default dropdown-toggle">
                                         <span class="caret"></span>
                                     </button>
                                     <ul class="dropdown-menu dropdown-menu-right">  
                    
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span class="userDatatable-title"
                                        >id</span
                                      >
                                    </label></a
                                  >
                                </li>
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span class="userDatatable-title"
                                        >user</span
                                      >
                                    </label></a
                                  >
                                </li>
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span class="userDatatable-title"
                                        >emaill</span
                                      >
                                    </label></a
                                  >
                                </li>
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span class="userDatatable-title"
                                        >company</span
                                      >
                                    </label></a
                                  >
                                </li>
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span class="userDatatable-title"
                                        >position</span
                                      >
                                    </label></a
                                  >
                                </li>
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span class="userDatatable-title"
                                        >join date</span
                                      >
                                    </label></a
                                  >
                                </li>
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span class="userDatatable-title"
                                        >status</span
                                      >
                                    </label></a
                                  >
                                </li>
                                <li>
                                  <a class="checkbox"
                                    ><label
                                      ><input
                                        type="checkbox"
                                        checked="checked"
                                      />
                                      <span
                                        class="userDatatable-title float-end"
                                        >action</span
                                      >
                                    </label></a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <table
                      class="table mb-0 table-borderless adv-table footable footable-1 footable-filtering footable-filtering-right footable-paging footable-paging-right breakpoint-md"
                      data-sorting="true"
                      data-filter-container="#filter-form-container"
                      data-paging-current="1"
                      data-paging-position="right"
                      data-paging-size="10"
                      style=""
                    >
                      <thead>
                        <tr class="userDatatable-header footable-header">
                          <th
                            class="footable-sortable footable-first-visible"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title">id</span>
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                          <th
                            class="footable-sortable"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title">user</span>
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                          <th
                            class="footable-sortable"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title">emaill</span>
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                          <th
                            class="footable-sortable"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title">company</span>
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                          <th
                            data-type="html"
                            data-name="position"
                            class="footable-sortable"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title">position</span>
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                          <th
                            class="footable-sortable"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title">join date</span>
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                          <th
                            data-type="html"
                            data-name="status"
                            class="footable-sortable"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title">status</span>
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                          <th
                            class="footable-sortable footable-last-visible"
                            style="display: table-cell"
                          >
                            <span class="userDatatable-title float-end"
                              >action</span
                            >
                            <span class="fooicon fooicon-sort"></span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td
                            class="footable-first-visible"
                            style="display: table-cell"
                          >
                            <div class="userDatatable-content">01</div>
                          </td>
                          <td style="display: table-cell">
                            <div class="d-flex">
                              <div class="userDatatable-inline-title">
                                <a href="#" class="text-dark fw-500">
                                  <h6>Kellie Marquot</h6>
                                </a>
                              </div>
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              john-keller@gmail.com
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              Business Development
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              Web Developer
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              January 20, 2020
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content d-inline-block">
                              <span
                                class="bg-opacity-success color-success rounded-pill userDatatable-content-status active"
                                >active</span
                              >
                            </div>
                          </td>
                          <td
                            class="footable-last-visible"
                            style="display: table-cell"
                          >
                            <ul
                              class="orderDatatable_actions mb-0 d-flex flex-wrap"
                            >
                              <li>
                                <a href="#" class="view">
                                  <i class="uil uil-eye"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" class="edit">
                                  <i class="uil uil-edit"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" class="remove">
                                  <i class="uil uil-trash-alt"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="footable-first-visible"
                            style="display: table-cell"
                          >
                            <div class="userDatatable-content">02</div>
                          </td>
                          <td style="display: table-cell">
                            <div class="d-flex">
                              <div class="userDatatable-inline-title">
                                <a href="#" class="text-dark fw-500">
                                  <h6>Robert Clinton</h6>
                                </a>
                              </div>
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">Japan</div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              Vehicle Master
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              Senior Manager
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              January 25, 2020
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content d-inline-block">
                              <span
                                class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active"
                                >deactivate</span
                              >
                            </div>
                          </td>
                          <td
                            class="footable-last-visible"
                            style="display: table-cell"
                          >
                            <ul
                              class="orderDatatable_actions mb-0 d-flex flex-wrap"
                            >
                              <li>
                                <a href="#" class="view">
                                  <i class="uil uil-eye"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" class="edit">
                                  <i class="uil uil-edit"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" class="remove">
                                  <i class="uil uil-trash-alt"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="footable-first-visible"
                            style="display: table-cell"
                          >
                            <div class="userDatatable-content">03</div>
                          </td>
                          <td style="display: table-cell">
                            <div class="d-flex">
                              <div class="userDatatable-inline-title">
                                <a href="#" class="text-dark fw-500">
                                  <h6>Chris Joe</h6>
                                </a>
                              </div>
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">South Korea</div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              Smart Collection
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              UX/UI Designer
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content">
                              June 20, 2020
                            </div>
                          </td>
                          <td style="display: table-cell">
                            <div class="userDatatable-content d-inline-block">
                              <span
                                class="bg-opacity-danger color-danger rounded-pill userDatatable-content-status active"
                                >blocked</span
                              >
                            </div>
                          </td>
                          <td
                            class="footable-last-visible"
                            style="display: table-cell"
                          >
                            <ul
                              class="orderDatatable_actions mb-0 d-flex flex-wrap"
                            >
                              <li>
                                <a href="#" class="view">
                                  <i class="uil uil-eye"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" class="edit">
                                  <i class="uil uil-edit"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" class="remove">
                                  <i class="uil uil-trash-alt"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        

                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>









      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>


      {% endblock %}
    </div>
  </div>
</div>
