{% extends 'home.html' %}

{% block body %}
<body class="hold-transition layout-top-nav">
   <div class="wrapper">
   
   {% include 'header.html' %}
   

     <div class="content-wrapper">
       <div class="content-header">
         <div class="container">
           <div class="row mb-2">
             <div class="col-sm-6">
               <h1 class="m-0"> Ópticas Visual <small>Inicio</small></h1>
             </div>
           </div>
         </div>
       </div>


      <div class ="content">
        <div class = "container">
         {% block content %}
         
         {% endblock %}
       </div>

     </div>
   </div>

 {% include 'footer.html' %}


</div>
</body>

{% endblock %}




