
{% load static %}

<header class="header-top">
   <nav class="navbar navbar-light">
      <div class="navbar-left">
         <div class="logo-area">
            <a class="navbar-brand" href="index.html">
               <img class="dark" src="{% static 'lib/hexadash/img/opticasvisual.png' %}" alt="logo"> 
               <img class="light" src="{% static 'lib/hexadash/img/opticasvisual.png' %}" alt="logo">
            </a>
            <a href="#" class="sidebar-toggle">
               <img class="svg" src="{% static 'lib/hexadash/img/svg/align-center-alt.svg' %}" alt="img"></a> 
         </div>
      
      </div>
   </nav>
   
</header>