{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ópticas Visual</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- inject:css-->

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/bootstrap/bootstrap.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/daterangepicker.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/fontawesome.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/footable.standalone.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/fullcalendar@5.2.0.css '%}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/jquery-jvectormap-2.0.5.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/jquery.mCustomScrollbar.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/leaflet.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/line-awesome.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/magnific-popup.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/MarkerCluster.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/MarkerCluster.Default.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/select2.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/slick.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/star-rating-svg.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/trumbowyg.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'lib/hexadash/css/plugins/wickedpicker.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'lib/hexadash/css/style.css' %}" />

    <!-- endinject -->

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static  'lib/hexadash/img/favicon.png'%}"
    />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
</html>
